* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #64CCC5;
}

.search-container {
    background: #EEEEEE;
    width: 60%;
    justify-content: center;
    text-align: center;
    padding: 25px 10px;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    box-shadow: -1px 1px 15px -2px rgba(0,0,0,0.75);
}

.search-form {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;    
}

.search-form input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #176B87;
    border-radius: 2px;
}

.search-form button {
    background: #176B87;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

